.navbar-toggler-icon{
    background-image:url(img/toggle.svg);
}
.col-md-3{
    margin-top:100px;
}
.col-md-6{
    margin-top:100px;
}
.col-sm-6{
    margin-top:100px;
}
.col-md-4{
    margin-top:100px;
}